<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>system</title>
    <!--默认样式文件-->
    <link rel="stylesheet" th:href="@{~/plugin/bootstrap/css/bootstrap.min.css}">
    <!--<link rel="stylesheet" th:href="@{~/plugin/element-ui/lib/theme-chalk/index.css}">-->
    <link rel="stylesheet" th:href="@{~/plugin/element-ui-recently/index.css}">
    <link rel="stylesheet" th:href="@{~/plugin/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{~/css/fadeInAnimation.css}">
    <link rel="stylesheet" th:href="@{~/css/sideBar.css}">
    <!--通用样式-->
    <link rel="stylesheet" th:href="@{~/css/common.css}">
    <!--当前页样式-->
    <style>
        span {
            font-size: 14px;
        }

        .el-header {
            background-color: #9fabba;
            color: #282525;
            line-height: 60px;
        }

        .el-footer {
            background-color: #9fabba;
        }

        .el-row {
            margin-bottom: 20px;
        }

        .el-col {
            border-radius: 4px;
        }

        .bg-purple-dark {
            background: #99a9bf;
        }

        .bg-purple {
            background: #d3dce6;
        }

        .bg-purple-light {
            background: #e5e9f2;
        }

        .grid-content {
            border-radius: 4px;
            min-height: 545px;
            padding: 10px 10px 10px 10px;
        }

        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }
    </style>

    <style>
        #factInput {
            padding: 10px 10px 10px 10px;
        }

        .pattern-input .el-input__inner {
            width: 400px;
        }

        .item {
            margin-top: 10px;
            margin-right: 40px;
        }
    </style>
</head>
<body onload="document.body.style.opacity='1'">
<div id="app">

    <el-container id="layoutContainer" style="border: 1px solid #eee">
        <el-aside width="200" style="background-color: #5d636a">
            <el-menu :default-openeds="['3','4']"
                     background-color="#545c64"
                     text-color="#fff"
                     active-text-color="#ffd04b">
                <el-submenu index="1" v-show="visibility.userManagement">
                    <template slot="title">
                        <i class="el-icon-user-solid"></i>用户管理
                    </template>
                    <el-menu-item index="1-1"><i class="el-icon-caret-right"></i>
                        <a @click="goAddUser">添加用户</a>
                    </el-menu-item>
                    <el-menu-item index="1-2"><i class="el-icon-caret-right"></i>用户列表</el-menu-item>
                </el-submenu>
                <el-submenu index="2" v-show="visibility.dictManagement">
                    <template slot="title"><i class="el-icon-s-management"></i>字典管理</template>
                    <el-menu-item index="2-1"><i class="el-icon-caret-right"></i>字典类型</el-menu-item>
                    <el-menu-item index="2-2"><i class="el-icon-caret-right"></i>字典项</el-menu-item>
                </el-submenu>
                <el-submenu index="3" v-show="visibility.ruleManagement">
                    <template slot="title"><i class="el-icon-collection"></i>规则管理</template>
                    <el-menu-item index="4-1"><i class="el-icon-caret-right"></i>
                        <a @click="goAddRule">新增规则</a>
                    </el-menu-item>
                    <el-menu-item index="4-2"><i class="el-icon-caret-right"></i>规则列表</el-menu-item>
                </el-submenu>
                <el-submenu index="4" v-show="visibility.factManagement">
                    <template slot="title"><i class="el-icon-document"></i>事实管理</template>
                    <el-menu-item index="3-1"><i class="el-icon-caret-right"></i>
                        <a @click="goInference">事实推理</a>
                    </el-menu-item>
                    <el-menu-item index="3-2"><i class="el-icon-caret-right"></i>事实列表</el-menu-item>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container v-loading="loading"
                      element-loading-text="正在加载中"
                      element-loading-spinner="el-icon-loading"
                      element-loading-background="rgba(128, 128, 128,0.8)">
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown>
                    <i class="el-icon-setting" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item><a @click="goUserCenter">个人中心</a></el-dropdown-item>
                        <el-dropdown-item><a @click="openLogout">登出系统</a></el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span>你好：{{plusUser.user.uName}}</span>
            </el-header>

            <el-main>
                <el-row :gutter="20">
                    <el-col :span="16">
                        <div class="grid-content bg-purple">
                            事实录入
                            <el-button
                                    @click="refresh" type="warning" size="medium"
                                    circle icon="el-icon-refresh">
                            </el-button>
                            <div class="block"
                                 style="margin-top: 10px"
                                 v-for="(item,index) in selectionPatternList" :key="item.guid">
                                <span class="demonstration">模 式: {{index+1}}</span>
                                <el-cascader
                                        placeholder="请选择符合条件的事实"
                                        :options="patternOptions"
                                        class="pattern-input"
                                        :props="props"
                                        @change="handlePatternSelect"
                                        clearable></el-cascader>
                                <el-input-number
                                        v-model="weight[index]"
                                        controls-position="right"
                                        placeholder="模式权重"
                                        :precision="2"
                                        :step="0.1"
                                        :min="-1" :max="1"></el-input-number>
                                <el-button
                                        plain
                                        type="danger"
                                        @click="deleteSelectionCondition(index)"
                                        icon="el-icon-minus"></el-button>
                                <el-button
                                        plain
                                        v-show="index==selectionPatternList.length-1"
                                        type="primary"
                                        @click="addNewSelectionTask"
                                        icon="el-icon-plus"></el-button>
                            </div>

                            <el-divider></el-divider>

                            <el-button
                                    @click="doInference"
                                    type="primary"
                                    :loading="resLoading">结果推导
                            </el-button>
                        </div>
                    </el-col>
                    <el-col :span="8">
                        <div class="grid-content bg-purple">

                            <el-card class="box-card" style="margin-top:20px;min-height: 480px">
                                <div slot="header" class="clearfix">
                                    <span>推理结果</span>
                                </div>
                                <div>
                                    结论可信度：
                                    <el-tag>{{this.resultPattern.weight}}</el-tag>
                                </div>
                                <div v-for="(item,index) in resultPattern.factList"
                                     style="margin-top: 10px"
                                     :key="item.id">
                                    结论 {{index+1}} ：<u>{{item.fAttribute}} {{item.fValue}}</u>
                                </div>
                            </el-card>
                        </div>
                    </el-col>
                </el-row>
            </el-main>
            <el-footer>

            </el-footer>
        </el-container>
    </el-container>
</div>

<!--默认js文件-->
<script th:src="@{~/plugin/jquery/jquery.js}"></script>
<script th:src="@{~/plugin/vue/vue.min.js}"></script>
<script th:src="@{~/plugin/bootstrap/js/bootstrap.min.js}"></script>
<!--<script th:src="@{~/plugin/element-ui/lib/index.js}"></script>-->
<script th:src="@{~/plugin/element-ui-recently/index.js}"></script>
<script th:src="@{~/js/common.js}"></script>
<script th:inline="javascript">
    var app = new Vue({
        el: "#app",
        data: {
            // plusUser存储的是当前已登录的用户信息
            plusUser: [[${plusUser}]],
            loading: false,
            resLoading: false,
            visibility: {
                userManagement: true,
                dictManagement: true,
                ruleManagement: true,
                factManagement: true
            },
            selectionPatternList: [{guid: "xxx"}],
            weight: [],
            props: {multiple: true},
            patternOptions: [],
            upload: {
                patternList: []
            },
            resultPattern: {
                id: 0,
                weight: 0,
                factList: [],
            }
        },
        methods: {}
    })

    // 添加新的候选栏
    function addNewSelectionTask() {
        app.selectionPatternList.push({guid: generateUUID()})
    }

    // 清空模式候选框
    function refresh() {
        app.selectionPatternList = [];
        app.upload.patternList = [];
        app.weight = [];
        addNewSelectionTask();
    }

    // 数据完整性检测
    function completeCheck() {
        return app.weight.length == app.upload.patternList.length;
    }

    // 每次删除时候的操作
    function deleteSelectionCondition(index) {
        // 这个selectionPatternList是没有经过处理的
        app.selectionPatternList.splice(index, 1);
        // 这个是和后端数据结构对应的上的
        app.upload.patternList.splice(index, 1);
        // weight数组也要相应的删除
        app.weight.splice(index, 1);

        console.log("移除")
        console.log(app.upload.patternList)
    }

    // 每次选中时候应该做的操作
    function handlePatternSelect(d) {
        if (d.length === 0) {
            return;
        }

        let tmpPattern = {
            id: d[0][0],
            weight: 0,
            factList: [],
            isMulti: 0
        };
        // 从patternList中获取对应的isMulti值
        for (let i = 0; i < app.patternOptions.length; i++) {
            if (tmpPattern.id == app.patternOptions[i].value) {
                tmpPattern.isMulti = app.patternOptions[i].isMulti;
                break;
            }
        }

        for (let i = 0; i < d.length; i++) {
            let tmpFact = {
                id: d[i][1],
            }
            tmpPattern.factList.push(tmpFact);
        }
        app.upload.patternList.push(tmpPattern);

        console.log("选中")
        console.log(app.upload.patternList)
    }

    // 设置初始的模式集合
    function getPatternList() {
        ajaxPostJSON("/inference/pattern/getPatterns", null, function (d) {
            console.log(d.data)
            let patternList = d.data;
            let len = patternList.length;
            for (let i = 0; i < len; i++) {
                let tmpPattern = patternList[i];
                let tmpFacts = tmpPattern.factList;
                let item = {
                    value: tmpPattern.id,
                    label: tmpFacts[0].fAttribute,
                    isMulti: tmpPattern.isMulti,
                    children: [],
                };
                for (let j = 0; j < tmpFacts.length; j++) {
                    item.children.push({
                        label: tmpFacts[j].fValue,
                        value: tmpFacts[j].id,
                    });
                }

                app.patternOptions.push(item);
            }
        })
    }

    // 结果推理
    function doInference() {
        if (!completeCheck()) {
            app.$message({
                type: 'warning',
                message: '请将信息补充完整'
            });
            return;
        }
        app.resLoading = true;
        // 首先把weight的值赋给patternList
        let size = app.upload.patternList.length;
        let uploadPatterns = app.upload.patternList;
        for (let i = 0; i < size; i++) {
            uploadPatterns[i].weight = app.weight[i];
        }

        console.log("待上传的动态库模式")
        console.log(uploadPatterns)

        ajaxPostJSON("/inference/doInference", uploadPatterns, function (d) {
            app.resLoading = false;
            if (d.code == "error") {
                app.$message({
                    type: 'error',
                    message: d.message
                });
            } else {
                app.$message({
                    type: 'success',
                    message: d.message
                });
            }
            console.log("d.data的值")
            console.log(d.data)

            app.resultPattern = d.data[0];
            // 四舍五入保留三位小数
            app.resultPattern.weight = d.data[0].weight.toFixed(3)
        })
    }

    window.onload = function () {
        // 调整高度
        adjustHeight();
        // 根据用户角色判定侧边栏
        showAsideByRole(app.plusUser);
        // 初始化模式数据
        getPatternList();
    }
</script>
</body>
</html>