<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>system</title>
    <!--默认样式文件-->
    <link rel="stylesheet" th:href="@{~/plugin/bootstrap/css/bootstrap.min.css}">
    <!--<link rel="stylesheet" th:href="@{~/plugin/element-ui/lib/theme-chalk/index.css}">-->
    <link rel="stylesheet" th:href="@{~/plugin/element-ui-recently/index.css}">
    <link rel="stylesheet" th:href="@{~/plugin/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{~/css/fadeInAnimation.css}">
    <link rel="stylesheet" th:href="@{~/css/sideBar.css}">
    <!--通用样式-->
    <link rel="stylesheet" th:href="@{~/css/common.css}">
    <!--当前页样式-->
    <style>
        span {
            font-size: 14px;
        }

        .el-header {
            background-color: #9fabba;
            color: #282525;
            line-height: 60px;
        }

        .el-footer {
            background-color: #9fabba;
        }
    </style>
</head>
<body onload="document.body.style.opacity='1'">
<!--背景图片-->

<div id="app">

    <el-container id="layoutContainer" style="border: 1px solid #eee">
        <el-aside width="200" style="background-color: #5d636a">
            <el-menu :default-openeds="['3','4']"
                     background-color="#545c64"
                     text-color="#fff"
                     active-text-color="#ffd04b">
                <el-submenu index="1" v-show="visibility.userManagement">
                    <template slot="title">
                        <i class="el-icon-user-solid"></i>用户管理
                    </template>
                    <el-menu-item index="1-1"><i class="el-icon-caret-right"></i>添加用户</el-menu-item>
                    <el-menu-item index="1-2"><i class="el-icon-caret-right"></i>用户列表</el-menu-item>
                </el-submenu>
                <el-submenu index="2" v-show="visibility.dictManagement">
                    <template slot="title"><i class="el-icon-s-management"></i>字典管理</template>
                    <el-menu-item index="2-1"><i class="el-icon-caret-right"></i>字典类型</el-menu-item>
                    <el-menu-item index="2-2"><i class="el-icon-caret-right"></i>字典项</el-menu-item>
                </el-submenu>
                <el-submenu index="3" v-show="visibility.ruleManagement">
                    <template slot="title"><i class="el-icon-collection"></i>规则管理</template>
                    <el-menu-item index="4-1"><i class="el-icon-caret-right"></i>
                        <a @click="goAddRule">新增规则</a>
                    </el-menu-item>
                    <el-menu-item index="4-2"><i class="el-icon-caret-right"></i>规则列表</el-menu-item>
                </el-submenu>
                <el-submenu index="4" v-show="visibility.factManagement">
                    <template slot="title"><i class="el-icon-document"></i>事实管理</template>
                    <el-menu-item index="3-1"><i class="el-icon-caret-right"></i>
                        <a @click="goInference">事实推理</a>
                    </el-menu-item>
                    <el-menu-item index="3-2"><i class="el-icon-caret-right"></i>事实列表</el-menu-item>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container v-loading="loading"
                      element-loading-text="正在加载中"
                      element-loading-spinner="el-icon-loading"
                      element-loading-background="rgba(128, 128, 128,0.8)">
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown>
                    <i class="el-icon-setting" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item><a @click="goUserCenter">个人中心</a></el-dropdown-item>
                        <el-dropdown-item><a @click="openLogout">登出系统</a></el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span>你好：{{plusUser.user.uName}}</span>
            </el-header>

            <el-main>

            </el-main>
            <el-footer>

            </el-footer>
        </el-container>
    </el-container>
</div>

<!--默认js文件-->
<script th:src="@{~/plugin/jquery/jquery.js}"></script>
<script th:src="@{~/plugin/vue/vue.min.js}"></script>
<script th:src="@{~/plugin/bootstrap/js/bootstrap.min.js}"></script>
<!--<script th:src="@{~/plugin/element-ui/lib/index.js}"></script>-->
<script th:src="@{~/plugin/element-ui-recently/index.js}"></script>
<script th:src="@{~/js/common.js}"></script>
<script th:inline="javascript">
    var app = new Vue({
        el: "#app",
        data: {
            // plusUser存储的是当前已登录的用户信息
            plusUser: [[${plusUser}]],
            loading: false,
            visibility: {
                userManagement: true,
                dictManagement: true,
                ruleManagement: true,
                factManagement: true
            }
        },
        methods: {}
    })

    window.onload = function () {
        // 调整高度
        adjustHeight();
        // 根据用户角色判定侧边栏
        showAsideByRole(app.plusUser);
    }
</script>
</body>
</html>