<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>system</title>
    <!--默认样式文件-->
    <link rel="stylesheet" th:href="@{~/plugin/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/plugin/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" th:href="@{~/plugin/view-ui/styles/iview.css}">
    <link rel="stylesheet" th:href="@{~/plugin/font-awesome/css/font-awesome.min.css}">
</head>
<body>
<div id="app">
    我的角色是：{{plusUser.role}}
</div>

<!--默认js文件-->
<script th:src="@{~/plugin/jquery/jquery.js}"></script>
<script th:src="@{~/plugin/vue/vue.min.js}"></script>
<script th:src="@{~/plugin/view-ui/iview.min.js}"></script>
<script th:src="@{~/plugin/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{~/plugin/element-ui/lib/index.js}"></script>
<script th:src="@{~/js/common.js}"></script>
<script th:inline="javascript">
    var app = new Vue({
        el: "#app",
        data: {
            plusUser: [[${plusUser}]]
        },
        methods: {}
    })
</script>
</body>
</html>