<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>模板文件</title>
    <link rel="stylesheet" th:href="@{~/plugin/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/plugin/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" th:href="@{~/plugin/view-ui/styles/iview.css}">
    <link rel="stylesheet" th:href="@{~/plugin/font-awesome/css/font-awesome.min.css}">
</head>
<body>

hello

<script th:src="@{~/plugin/jquery/jquery.js}"></script>
<script th:src="@{~/plugin/vue/vue.min.js}"></script>
<script th:src="@{~/plugin/view-ui/iview.min.js}"></script>
<script th:src="@{~/plugin/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{~/plugin/element-ui/lib/index.js}"></script>
</body>
</html>