<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>模板文件</title>
    <!--默认样式文件-->
    <link rel="stylesheet" th:href="@{~/plugin/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/plugin/element-ui-recently/index.css}">
    <link rel="stylesheet" th:href="@{~/plugin/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{~/css/fadeInAnimation.css}">
    <!--通用样式-->
    <link rel="stylesheet" th:href="@{~/css/common.css}">
</head>
<body>

<!--默认js文件-->
<script th:src="@{~/plugin/jquery/jquery.js}"></script>
<script th:src="@{~/plugin/vue/vue.min.js}"></script>
<script th:src="@{~/plugin/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{~/plugin/element-ui-recently/index.js}"></script>
<script th:src="@{~/js/common.js}"></script>
</body>
</html>