<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.inference.mapper.MapPatternFactMapper">
    <resultMap id="BaseResultMap" type="com.zm.inference.domain.mapClass.MapPatternFact">
        <!--@mbg.generated-->
        <!--@Table map_pattern_fact-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="p_id" jdbcType="INTEGER" property="pId"/>
        <result column="f_id" jdbcType="INTEGER" property="fId"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="created_uid" jdbcType="INTEGER" property="createdUid"/>
        <result column="modified_uid" jdbcType="INTEGER" property="modifiedUid"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, p_id, f_id, created_time, modified_time, created_uid, modified_uid
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from map_pattern_fact
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from map_pattern_fact
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zm.inference.domain.mapClass.MapPatternFact"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into map_pattern_fact (p_id, f_id, created_time,
        modified_time, created_uid, modified_uid
        )
        values (#{pId,jdbcType=INTEGER}, #{fId,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP},
        #{modifiedTime,jdbcType=TIMESTAMP}, #{createdUid,jdbcType=INTEGER}, #{modifiedUid,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.zm.inference.domain.mapClass.MapPatternFact" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into map_pattern_fact
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pId != null">
                p_id,
            </if>
            <if test="fId != null">
                f_id,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="createdUid != null">
                created_uid,
            </if>
            <if test="modifiedUid != null">
                modified_uid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pId != null">
                #{pId,jdbcType=INTEGER},
            </if>
            <if test="fId != null">
                #{fId,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdUid != null">
                #{createdUid,jdbcType=INTEGER},
            </if>
            <if test="modifiedUid != null">
                #{modifiedUid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zm.inference.domain.mapClass.MapPatternFact">
        <!--@mbg.generated-->
        update map_pattern_fact
        <set>
            <if test="pId != null">
                p_id = #{pId,jdbcType=INTEGER},
            </if>
            <if test="fId != null">
                f_id = #{fId,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdUid != null">
                created_uid = #{createdUid,jdbcType=INTEGER},
            </if>
            <if test="modifiedUid != null">
                modified_uid = #{modifiedUid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zm.inference.domain.mapClass.MapPatternFact">
        <!--@mbg.generated-->
        update map_pattern_fact
        set p_id = #{pId,jdbcType=INTEGER},
        f_id = #{fId,jdbcType=INTEGER},
        created_time = #{createdTime,jdbcType=TIMESTAMP},
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
        created_uid = #{createdUid,jdbcType=INTEGER},
        modified_uid = #{modifiedUid,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-05-17-->
    <select id="selectPIdByFIdIn" resultType="java.lang.Integer">
        select p_id
        from map_pattern_fact
        where f_id in
        <foreach item="item" index="index" collection="fIdCollection"
                 open="(" separator="," close=")">
            #{item,jdbcType=INTEGER}
        </foreach>
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-05-18-->
    <insert id="insertList">
        INSERT INTO map_pattern_fact(
        id,
        p_id,
        f_id,
        created_time,
        modified_time,
        created_uid,
        modified_uid
        )VALUES
        <foreach collection="list" item="element" index="index" separator=",">
            (
            #{element.id,jdbcType=INTEGER},
            #{element.pId,jdbcType=INTEGER},
            #{element.fId,jdbcType=INTEGER},
            #{element.createdTime,jdbcType=TIMESTAMP},
            #{element.modifiedTime,jdbcType=TIMESTAMP},
            #{element.createdUid,jdbcType=INTEGER},
            #{element.modifiedUid,jdbcType=INTEGER}
            )
        </foreach>
    </insert>
</mapper>